<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVE List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:hover {
            background-color: #f9f9f9;
            cursor: pointer;
        }
        label {
            margin-top: 20px;
            display: block;
        }
    </style>
</head>
<body>
    <h1>CVE List</h1>
    <h3 style="text-align: left;">Total CVE Records: {{ total_records }}</h3>
    <table>
        <thead>
            <tr>
                <th>CVE ID</th>
                <th>Published Date</th>
                <th>Last Modified Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="cve-table">
            
        </tbody>
    </table>

    <label>Results Per Page:
        <select id="per-page" onchange="fetchCVEData()">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </label>

    <script>
        async function fetchCVEData(page = 1) {
            const perPage = document.getElementById("per-page").value;
            const response = await fetch(`/cves/list?page=${page}&per_page=${perPage}`);
            const data = await response.json();
            const tableBody = document.getElementById("cve-table");
            tableBody.innerHTML = "";

           
            data.cves.forEach(cve => {
                const row = document.createElement("tr");
                row.onclick = () => window.location.href = `/cves/${cve[0]}`;

                const cveIdCell = document.createElement("td");
                cveIdCell.textContent = cve[0];
                row.appendChild(cveIdCell);

                const publishedDateCell = document.createElement("td");
                publishedDateCell.textContent = cve[2];
                row.appendChild(publishedDateCell);

                const lastModifiedDateCell = document.createElement("td");
                lastModifiedDateCell.textContent = cve[3];
                row.appendChild(lastModifiedDateCell);

                const statusCell = document.createElement("td");
                statusCell.textContent = cve[4];
                row.appendChild(statusCell);

                tableBody.appendChild(row);
            });
        }

    
        fetchCVEData();
    </script>
</body>
</html>